<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271112780596-5jdl1v55q7l3kugdo3cvqgkjp7a0om0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271112780596-5jdl1v55q7l3kugdo3cvqgkjp7a0om0r</string>
	<key>API_KEY</key>
	<string>AIzaSyBUjieuOwlw9X9qAF8B8uRK8SH7wUuMVZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>271112780596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlc.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-5561a</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-5561a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271112780596:ios:e8d346632b33d130a20361</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershare-5561a.firebaseio.com</string>
</dict>
</plist>